<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue列表渲染</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">

    <template v-for="(item, index) of list" :key="item.id">
	<div>
	    {{item.text}} --- {{index}}
	</div>
	<span>
	    {{item.text}} --- {{index}}
    	</span>
    </template>

    <div v-for="(item, key, index) of userInfo">
	{{item}} --- {{key}} --- {{index}}
    </div>
</div>

<script>

    // push pop shift unshift splice sort reverse
    var vm = new Vue({
        el: '#app',
        data: {
            list: [{
                id: '001',
                text: 'hello'
            }, {
                id: '002',
                text: 'jerry'
            }, {
                id: '003',
                text: 'tan'
            }],
            userInfo: {
                name: 'jerry',
                age: 29,
                gender: 'male',
                salary: 'secret'
            }
        }
    });

    // 从第1个元素开始删除，删除1个，新增1个
    // 使用下标操作数组，并不能改变页面的内容
    vm.list.splice(1, 1, {
        id: '002',
        text: 'tan'
    });

    // 也可以改变数组的引用来打到改变页面内容

    // 要想新增对象的字段，必须改变对象的引用
    vm.userInfo = {
        name: 'jerry',
        age: 29,
        gender: 'male',
        salary: 'secret',
        address: 'xi\'an'
    }

</script>
</body>
</html>